<th:block th:include="@{_header.html}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="http://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/Farmstory/js/postcode.js"></script>

<script>
    $(function(){
        $('#btnUidCheck').click(function(){

            let uid = $('input[name=uid]').val();

            $.ajax({
                url:'/Farmstory/user/checkUid',
                method:'get',
                data: {"uid": uid},
                dataType: 'json',
                success:function(data){
                    // data.result가 1이면 안되게 if else 하자
                    if(data.result != 0){
                        $('.uidResult').css('color', 'red').text('이미 사용중인 아이디 입니다.');
                    }else{
                        $('.uidResult').css('color', 'green').text('사용가능한 아이디입니다..');
                    }
                }
            });
        });

        $('input[name=pass2]').focusout(function(){
    			let pass1 = $('input[name=pass1]').val();
    			let pass2 = $('input[name=pass2]').val();

    			if(pass1 != pass2){
    				$('.passResult').css('color', 'red').text('비밀번호가 일치하지 않습니다.');
    			}else{
    				$('.passResult').css('color', 'green').text('비밀번호가 일치합니다.');
    			}
        });

        $('#btnNickCheck').click(function(){
    			let nick = $('input[name=nick]').val();

    			$.ajax({
    				url:'/Farmstory/user/checkNick',
    				method:'get',
    				data:{"nick":nick},
    				dataType:'json',
    				success:function(data){
    					if(data.result != 0){
    						$('.nickResult').css('color', 'red').text('이미 사용중인 별명입니다.');
    					}else{
    						$('.nickResult').css('color', 'green').text('사용가능한 별명입니다.');
    					}
    				}
    			})
        });

        $('input[name=hp]').focusout(function(){
    			let hp = $('input[name=hp]').val();

    			$.ajax({
    				url:'/Farmstory/user/checkHp',
    				method:'get',
    				data:{"hp":hp},
    				dataType:'json',
    				success:function(data){
    					if(data.result != 0){
    						$('.hpResult').css('color', 'red').text('이미 사용중인 전화번호입니다.');
    					}else{
    						$('.hpResult').css('color', 'green').text('사용가능한 전화번호입니다.');
    					}
    				}
    			});
        });

    });
</script>
        <main id="user" class="register">

            <form th:action="@{/user/register}" method="post">
                <table border="1">
                    <caption>사이트 이용정보 입력</caption>
                    <tr>
                        <th>아이디</th>
                        <td>
                            <input type="text" name="uid" placeholder="아이디 입력"/>
                            <button type="button" id="btnUidCheck"><img th:src="@{/img/chk_id.gif}" alt="중복확인"/></button>
                            <span class="uidResult"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호</th>
                        <td>
                            <input type="password" name="pass1" placeholder="비밀번호 입력"/>
                            <span class="passResult"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호 확인</th>
                        <td>
                            <input type="password" name="pass2" placeholder="비밀번호 입력 확인"/>
                        </td>
                    </tr>
                </table>

                <table border="1">
                    <caption>개인정보 입력</caption>
                    <tr>
                        <th>이름</th>
                        <td>
                            <input type="text" name="name" placeholder="이름 입력"/>                        
                        </td>
                    </tr>
                    <tr>
                        <th>별명</th>
                        <td>
                            <p>공백없이 한글, 영문, 숫자 입력</p>
                            <input type="text" name="nick" placeholder="별명 입력"/>
                            <button type="button" id="btnNickCheck"><img th:src="@{/img/chk_id.gif}" alt="중복확인"/></button>
                            <span class="nickResult"></span>
                        </td>
                    </tr>                    
                    <tr>
                        <th>이메일</th>
                        <td>
                            <input type="email" name="email" placeholder="이메일 입력"/>
                        </td>
                    </tr>
                    <tr>
                        <th>휴대폰</th>
                        <td>
                            <input type="text" name="hp" placeholder="- 포함 13자리 입력"/>
                            <span class="hpResult"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td>
                            <input type="text" name="zip" id="zip" placeholder="우편번호 검색" readonly/>
                            <button type="button" onclick="postcode()"><img th:src="@{/img/chk_post.gif}" alt="우편번호 찾기"/></button>
                            <input type="text" name="addr1" id="addr1" placeholder="기본주소 검색" readonly/>
                            <input type="text" name="addr2" id="addr2" placeholder="상세주소 입력"/>
                        </td>
                    </tr>
                </table>

                <div>
                    <a th:href="@{/user/login}" class="btnCancel">취소</a>
                    <input type="submit" class="btnRegister" value="회원가입"/>
                </div>
            </form>            
        </main>
<th:block th:include="@{_footer.html}"/>