<th:block th:include="@{_header.html}"/>
<th:block th:include="@{board/__${group}__.html}"/>
        <main id="board" class="modify">
            
            <form action="board/modify" method="post">
                <table border="0">
                    <caption>글수정</caption>
                    <tr>
                        <th>제목</th>
                        <td><input type="text" name="title"/>[[${article.title}]]</td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td><textarea name="content">[[${article.content}]]</textarea></td>
                    </tr>
                    <tr>
                        <th>파일</th>
                        <td><a th:href="@{/download(fno=${article.fileVO.fno})}">[[${article.fileVO.oriName}]]</a></td>
                    </tr>
                </table>

                <div>
                    <a th:href="@{/board/view(no = ${article.no},group=${group},cate=${cate})}" class="btn btnCancel">취소</a>
                    <input type="submit" value="수정완료" class="btn btnComplete"/>
                </div>
            </form>
        </main>
<th:block th:include="@{_footer.html}"/>