<th:block th:include="@{_header.html}"/>
        <div id="sub">
            <div><img th:src="@{/img/sub_top_tit5.png}" alt="COMMUNITY"></div>
            <section class="cate5">
                <aside>
                    <img th:src="@{/img/sub_aside_cate5_tit.png}" alt="커뮤니티"/>

                    <ul class="lnb">
                        <li th:classappend="${cate}=='notice'?'on'"><a th:href="@{/board/list/(group=_community,cate=notice)}">공지사항</a></li>
                        <li th:classappend="${cate}=='menu'?'on'"><a th:href="@{/board/list/(group=_community,cate=menu)}">오늘의식단</a></li>
                        <li th:classappend="${cate}=='chef'?'on'"><a th:href="@{/board/list/(group=community,cate=chef)}">나도요리사</a></li>
                        <li th:classappend="${cate}=='qna'?'on'"><a th:href="@{/board/list/(group=community,cate=qna)}">1:1고객문의</a></li>
                        <li th:classappend="${cate}=='faq'?'on'"><a th:href="@{/board/list/(group=community,cate=faq)}">자주묻는질문</a></li>
                    </ul>

                </aside>
                <article>
                    <nav>
                        <img src="../img/sub_nav_tit_cate5_tit3.png" alt="나도요리사"/>
                        <p>
                            HOME > 커뮤니티 > <em>나도요리사</em>
                        </p>
                    </nav>

                    <!-- 내용 시작 -->
                    <img src="../img/board_list.png" alt="">

                    <!-- 내용 끝 -->

                </article>
            </section>

        </div>
<th:block th:include="@{_footer.html}"/>